<% if @search_results.count == 0 %>
    <h3>Sorry, there are no games with that search query.</h3>
<% else %>
    <div class="row">
        <% @search_results.each do |game| %>
            <div class="col-md-3">
                <a href="/games/<%= game.id %>">
                    <%= image_tag game.game_img.url(:game_index), class:"game" %>
                </a>
                <h3><%= CensorYourself.check(game.title) %></h3>
            </div>
        <% end %>
    </div>
<% end %>
